footer {
    background: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    box-sizing: content-box;
    margin: 0px 0px 0px 0px;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .container div {
    margin: 30px;
    background-color: black;
}



footer .us ul li {
    text-decoration: none;
    list-style: none;
    margin: 10px;
    color: white;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer a:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
    transition: .5s;
    font-weight: 900;
}

footer .legal ul li {
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

footer .social a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
}

@media(min-width:769px){
    
    footer .container {
        width: 80%;
    }

    footer{
        margin: 0px 0px 0px 0px;
        /* top 40 px*/
    }
}

@media(min-width:1024px) {
    
    footer{
        margin: 0px 0px 0px 0px;
        /* top 40 px*/
    }
    

    .footer {
        padding: 40px;
    }

    footer .container {
        margin: 0 auto;
    }

    footer .container div {
        margin: 50px;
    }
}