*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title h5 {
    color: white;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;

}

.title img {
    margin: 20px 0px 0px 20px;
    height: 40px;
}

.header {
    /* background-color: white;  */
    background: linear-gradient(to bottom, rgb(0, 0, 0) 100%, #fff 0%);  
    /*background-color: #FFFE00; */
    height: 80px;
    display: flex;
}

.header .container {
    width: 100%;
} 

.btn_icon_user {
    height: 20px;
    background: none;
    border: none;
    margin: 25px 30px 0px auto;
    font-size: 25px;
    text-align: center;
}

.btn_icon_user:hover {
    cursor: pointer;
    
}

.icon-user::before {
    position: relative;
    display: block;
    color: white;
    margin: 0;
    padding: 0;
}


.menu {
    position: absolute;
    margin-left: -110px;
    top: 70px;
    background: gold;
    padding: 10px;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 1px -1px 11px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px -1px 11px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px -1px 11px 6px rgba(0,0,0,0.2);
    background: white;
    transition: 5s;
    display: none;
    z-index: 1000;
}

.show {
    display: block;
}

.off {
    display: none;
    background-color: blue;
}

.menu:after {
    content: '';
    clear: both;
    display: table;
}

.menu ul {
    float: left;
    list-style: none;
    position: relative;
    
}

.menu ul li {
    align-items: center;
    line-height: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 2px solid rgb(224, 224, 224);
}

.menu ul li a {
    text-decoration: none;
    font: bold 15px 'Poppins';
    line-height: 10px;
    outline: none;
    margin: 10px;
    color: black;
}






/*************************************RESPONSIVE 769PX***********************************************************/

@media(min-width:769px) {
    .header .container {
        width: 80%;
        margin: 0px auto;
    }
}